<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=*, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/dark_mode.css" />
    <link rel="shortcut icon" type="image/x-icon" href="../static/image/botix-web.ico">
    <title>Botix Web</title>
</head>
<body>

	<div class="topbar"></div>

	<div class="sidebar">
		<div class="logo">
			<img src="../static/image/botix_circle.png" alt ="logo de botix"></img>
		</div>
		<div class="menu" id="everyone">
			<ul>
				<a href="/place_publique"><li>Place Publique</li></a>
				<a href="/bravery"><li>Ultimate Bravery</li></a>
				<a href="/stats"><li>Statistiques</li></a>
			</ul>
		</div> 

		{% if current_user.is_authenticated %}
			<div class="menu" id="advanced">
				<ul>
					<a href="/memo"><li>Mémos</li></a>
					<a href="/fortune-first-time"><li>MissFortune</li></a>
					<a href="/musique"><li>Musique</li></a>
				</ul>
			</div> 

		{% if current_user.auth_id == 2 %}
			<div class="menu" id="owner">
				<ul>
					<a href="/communiquer"><li>Communiquer</li></a>
					<a href="/logs"><li>Logs</li></a>
					<a href="/config"><li>Configurer</li></a>
					<!-- <a href="/api"><li>API</li></a> -->
				</ul>
			</div> 

		{% endif %}
		{% endif %}

		<div class="profil">
			<a class="img_profil" href="/login">
				{% if not current_user.is_authenticated %}
				<img src="../static/image/profil.png" alt ="image profil inconnu"></img>
				{% endif %}

				{% if current_user.auth_id == 1 %}
				<img src="../static/image/profil_invite.png" alt ="image profil invité"></img>
				{% endif %}
				
				{% if current_user.auth_id == 2 %}
				<img src="../static/image/profil_owner.png" alt ="image profil owner"></img>
				{% endif %}
			</a>
			<div class="img_options">
				<img src="../static/image/options.png" alt ="image options"></img>
			</div>
		</div>
	</div>

	{% block content %}{% endblock %}

</body>
</html>